<!-- footers -->
<div class="footer flex gap-x-20 bg-black">
  <div class="mx-20  mt-9 mb-9">
    <p class="text-xl font-bold text-white">Links</p>
    <ul class="mt-6 space-y-1 text-white cursor-pointer">
      <li class="line">About Us</li>
      <li class="line">Contact Us</li>
      <li class="line">Help / FAQ</li>
      <li class="line">Media Center</li>
      <li class="line">Affiliates</li>
    </ul>
  </div>

  <div class="mx-20 mt-9 mb-9 ">
    <p class="text-xl font-bold text-white">More</p>
    <ul class="mt-6 space-y-1 text-white cursor-pointer">
      <li class="line">Gift Memberships</li>
      <li class="line">Browse Books</li>
      <li class="line">Browse AudioBooks</li>
      <li class="line">RSS Feeds</li>
      <li class="line">Sitemap</li>
    </ul>
  </div>

  <div class="mx-20  mt-9 mb-9">
    <p class="text-xl font-bold text-white ">Sign Up</p>
    <ul class="mt-6 space-y-1 text-white cursor-pointer">
      <li class="line">Rent Books</li>
      <li class="line">Rent Audiobooks</li>
      <li class="line">Privacy Policy</li>
      <li class="line">Terms & Condition</li>
    </ul>
  </div>

  <div class="mx-20  mt-9 mb-9">
    <p class="text-xl font-bold text-white ">Socials</p>
    <ul class="mt-6 space-y-2 cursor-pointer">
      <li class="text-yellow-200 text-2xl hover:text-pink-400"> <a href="https:\\www.instagram.com"><i
            class="fa-brands fa-instagram"></i></a></li>
      <li class="text-yellow-200 text-2xl hover:text-blue-400"> <a href="https:\\www.facebook.com"><i
            class="fa-brands fa-facebook"></i></a></li>
      <li class="text-yellow-200 text-2xl hover:text-blue-400"> <a href="https:\\www.twitter.com"><i
            class="fa-brands fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
<!-- copyrights lines-->
<p class="bg-black text-white text-center pt-2">Copyright © 2000 - 2021 BookLender.com</p>
<p class="bg-black text-white text-center pb-5"> BookLender.com is proudly maintained by PS²</p>
</body>

</html>