<%- include('partials/navbar'); -%>

    <div class="grid grid-cols-3 gap-4 my-3 bg-[#CFF5E7]">
        <div class="grid grid-rows-4 grid-flow-col gap-4 mx-12 mt-16 w-11/12">
            <div class="bg-white hover:bg-gray-100 text-gray-600 text-right rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="5">
                    <tr>
                        <td>Since we became a member of your library, I have been receiving 'threats' from my sister
                            to 'ask for delivery'.She read throughout exams despite some 'small battles' at home.
                        </td>
                        <td><img src="Project/p0.png" alt="Anmol-img" width="500"></td>
                    </tr>
                </table>
                </p>
                <span> - Anmol Sherpa</span>
            </div>

            <div class="bg-white hover:bg-gray-100 text-gray-600 text-right rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="4">
                    <tr>

                        <td> We are loving the books we have to borrowed from the library over the past few months! I am
                            sure I wouldn't have discovered any of these books myself.</td>
                        <td><img src="project/p1.png" alt="Pratiksha-img" width="300"></td>
                    </tr>
                </table>
                </p>

                <span> - Pratiksha Bhatia</span>
            </div>

            <div class="bg-white hover:bg-gray-100 text-gray-600 text-right rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="10">
                    <tr>
                        <td>I have a family of avid readers and most of us don't like reading on kindle. So for all
                            practical reasons I have been desperately looking for an online library and lookbook is the
                            perfect answer to our prayers!</td>
                        <td><img src="Project/p2.png" alt="Arundhati-img" width="450"></td>
                    </tr>
                </table>
                </p>
                <span> - Arundhati Venkatesh</span>
            </div>
        </div>

        <div>
            <img class="pt-20 h-9/12 " src="project/open_book.png" alt="csjdo">
        </div>

        <div class="grid grid-rows-4 grid-flow-col gap-4 -mx-8 mt-16 w-11/12">
            <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="10">
                    <tr>
                        <td><img src="project/p3.png" alt="Erika-img" width="300"></td>
                        <td>(About the Valentine's Day service) It's so much better than the discounts that everyone
                            else is offering because this is such a special and sincere gesture.</td>
                    </tr>
                </table>
                </p>
                <span> - Erika Mitchell</span>
            </div>

            <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="10">
                    <tr>
                        <td><img src="project/p4.png" alt="Sameer-img" width="300"></td>
                        <td>The service is amazing. Excellent collection of books. My Sister's reading skills are
                            improving day by day. The credit goes to the team.</td>
                    </tr>
                </table>
                </p>
                <span> - Sameer Maheswari</span>
            </div>

            <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
                <i class="fas fa-comment mb-3"></i>
                <p>
                <table cellpadding="10">
                    <tr>
                        <td><img src="project/p5.png" alt="Shilpi-img" width="300"></td>
                        <td>
                            I've been recommending this children's library (home-delivery based) to friends in Kolkata
                            ever since I checked their collection online.</td>
                    </tr>
                </table>
                </p>
                <span> - Shilpi Mukherjee</span>
            </div>
        </div>
    </div>
        <%- include('partials/footers'); -%>
