<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/14204b4342.js" crossorigin="anonymous"></script>
  <title>featuredIn</title>
</head>

<body>
  <!-- FEATURED IN -->
  <div>
    <div class="bg-black text-center text-white h-12 text-3xl ">
      <h1 class="pt-2">Featured In</h1>
    </div>

    <div class="flex pt-16 bg-fuchsia-200 gap-x-20">
      <img class="ml-28" src="Project/i2.png" alt="1">
      <img src="Project/i1.png" alt="2">
      <img src="Project/i3.png" alt="3">
      <img src="Project/i4.png" alt="4">
      <img src="Project/i5.png" alt="5">
      <img src="Project/i7.png" alt="6">
      <img src="Project/i6.png" alt="7">
    </div>
    <div class="flex gap-x-32 bg-fuchsia-200 p-20">
      <div class="ml-12">
        <p >
          Read to your heart's content with our book rental service. Imagine having the latest titles and the best
          classics delivered right to your door. No more trips to the library only to find out the items you want are
          already checked out. No more costly trips to the local bookstore.
        </p>
      </div>
      <div>
        <p>
          Large selection of paperback, children's, & audio books. Convenience of home delivery with FREE shipping.
          Numerous book rental plans to fit your needs. No due dates or late fees when renting books. Superior customer
          service. No commitments, cancel anytime. Environmentally friendly.
        </p>
      </div>
      <div class="mr-16">
        <p>
          "Thank you very much for providing such a great service. Rest assured that I recommend you to my friends,
          family, and co-workers at every opportunity. I look forward to a long and happy relationship with LookBook
          as a satisfied customer."
        </p>
      </div>
    </div>
  </div>
</body>

</html>