<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>rent_unlimited</title>
</head>

<body>
    <!-- RENT UNLIMITED -->
    <div>
        <div class="bg-black text-center text-white h-16 pt-2 text-3xl ">
            <marquee behavior="alternate" vspace="4px" loop="8" direction="top">
                🎁 20% Off New Gift Memberships, Promo Code: PIY22
                <button class="bg-red-500 px-4 rounded-md" type="submit">Buy Now</button>
            </marquee>
        </div>

        <div class="grid grid-flow-col"">
            <div class=" bg-gray-100 px-16">
            <h1 class="text-5xl mt-6 font-sans font-bold">Rent Unlimited Books</h1>
            <p class="text-xl mt-8 font-semibold text-gray-700">Rentikng Books saves your </p>
            <p class="text-xl mt-2 font-semibold text-gray-700"> Time, Money , Shelf space and the Enviornment</p>
            <ul class="pt-14 flex text-lg font-medium text-red-700 cursor-pointer ">
                <li class="mr-10  ">Free Shipping</li>
                <li class="mx-10 ">No Due Dates</li>
                <li class="mx-10 ">Cancel Anytime</li>
            </ul>
        </div>

        <div>
            <img class="h-72 w-full pr-1" src="Project/readinG_w0.jpg" alt="">
        </div>
    </div>

    </div>

</body>

</html>