<%- include('partials/navbar'); -%>

    <!-- About Us-->
    <section class="pricing bg-[#A5F1E9] pb-9 my-3">
        <div class="mx-48 py-9 pb-9 text-4xl">
            <h1 class=" text-black font-serif pb-6 border-b-2 border-white">About Us</h1>
        </div>

        <div class="mx-52 px-4  text-black border-2 border-white    rounded-md">
            <div class="">
                <h1 class="pt-4 pb-2 font-semibold text-lg text-black">Discover new authors and genres with our
                    unlimited book
                    or audiobook rental service. Our members enjoy the highest commitment to customer service,
                    satisfaction, and unmatched value. We help our members save time and money with the simplest and
                    most convenient book rental service anywhere.
                </h1>
            </div>

            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">History</h1>
                <h1 class="pb-9 ">Launched in September 2000, LookBook.com is the oldest online book rental
                    service. Founded by veteran business-men Douglas Ross and Andrew Bilinski, LookBook set out to
                    revolutionize the way consumers acquired reading materials online. Oprah Magazine said
                    LookBook is the book version of Netflix. Originally launched as a paperback book rental
                    service of bestselling paperback fiction books, LookBook has expanded into children's books,
                    nonfiction books, and audiobooks. Since 2000, LookBook has grown its selection from 25,000
                    titles to over a quarter of a million titles.
                </h1>
            </div>

            <div class="">
                <h1 class=" pb-2 font-semibold text-lg">Location</h1>
                <h1 class="pb-9 ">Located just outside of Washington, D.C. in tech rich Northern Virginia,
                    LookBook is strategically located near one of the country's largest book distribution
                    warehouses (Ingram Book Group), and a USPS bulk mail center.
                </h1>
            </div>

            <div class="">
                <h1 class=" pb-2 font-semibold text-lg">Giving Back</h1>
                <h1 class="pb-9 ">LookBook donates overstock titles to Walter Reed Medical Center and is proud to
                    support our wounded warriors. LookBook also donates books to various libraries.</h1>
            </div>

            <div class="">
                <h1 class=" pb-2 font-semibold text-lg">About LookBook</h1>
                <ul class="pl-6 pb-9">
                    <li>• LookBook has delivered over 4 million titles to its members</li>
                    <li>• LookBook has saved its members over $30 million to date</li>
                    <li>• Launched in 2000, LookBook is the oldest book rental service</li>
                    <li>• LookBook is the only service to offer books and audiobooks</li>
                    <li>• LookBook is the only service to offer books and audiobooks</li>
                </ul>
            </div>
        </div>
    </section>

    <%- include('partials/footers'); -%>