<%- include('partials/navbar'); -%>


    <!-- Pricing-->
    <div class="pricing bg-black my-2">
        <div class="mx-44 py-10 pb-9 text-4xl">
            <h1 class=" text-white font-serif pb-6 border-b-2 border-gray-300">Price & Plans</h1>
        </div>

        <div class="pricing p-10 justify-center text-center flex gap-x-12 ">
            <div class="px-10 p-8 pt-6 pb-6 border rounded-lg border-gray-600 hover:border-orange-600">
                <p class=" text- pb-4 text-white">1-MONTH</p>
                <h1 class="text-white p-4 text-5xl  border-b-2 border-gray-700 hover:border-orange-600 border-t-2 ">
                    ₹
                    600
                </h1>
                <ul class="mt-6 space-y-1 text-white cursor-text">
                    <li class="line text-sm pt-3">Any number of deliveries</li>
                    <li class="line text-sm pt-3">No deposit, joining fee</li>
                    <li class="line text-sm pt-3">2 books/delivery: ₹ 600</li>
                    <li class="line text-sm pt-3">4 books/delivery: ₹ 700</li>
                    <li class="line text-sm pt-3">6 books/delivery: ₹ 800</li>
                </ul>
            </div>

            <div class="px-10 p-8 pt-6 pb-6 border rounded-lg border-gray-600 hover:border-orange-600">
                <p class=" text- pb-4 text-white">3-MONTH</p>
                <h1 class="text-white p-4 text-5xl  border-b-2 border-gray-700 hover:border-orange-600 border-t-2 ">
                    ₹
                    1200
                </h1>
                <ul class="mt-6 space-y-1 text-white cursor-text">
                    <li class="line text-sm pt-3">Any number of deliveries</li>
                    <li class="line text-sm pt-3">No deposit, joining fee</li>
                    <li class="line text-sm pt-3">2 books/delivery: ₹ 1200</li>
                    <li class="line text-sm pt-3">4 books/delivery: ₹ 1300</li>
                    <li class="line text-sm pt-3">6 books/delivery: ₹ 1400</li>
                </ul>
            </div>

            <div class="px-10 p-8 pt-6 pb-6 border rounded-lg border-gray-600 hover:border-orange-600">
                <p class=" text- pb-4 text-white">6-MONTH
                </p>
                <h1 class="text-white p-4 text-5xl  border-b-2 border-t-2 border-gray-700 hover:border-orange-600  ">
                    ₹
                    2100
                </h1>
                <ul class="mt-6 space-y-1 text-white cursor-text">
                    <li class="line text-sm pt-3">Any number of deliveries</li>
                    <li class="line text-sm pt-3">No deposit, joining fee</li>
                    <li class="line text-sm pt-3">2 books/delivery: ₹ 2100</li>
                    <li class="line text-sm pt-3">4 books/delivery: ₹ 2300</li>
                    <li class="line text-sm pt-3">6 books/delivery: ₹ 2500</li>
                </ul>
            </div>

            <div class=" px-10 -m-6 mx-2 pt-6 pb-6 border rounded-lg border-orange-600">
                <p class=" text-xl pb-4 text-white">12-MONTH
                    <br>
                    <span class="italic">BEST VALUE</span>
                </p>
                <h1 class=" text-white p-4 text-5xl border-b-2 border-orange-500 border-t-2 ">₹ 3600</h1>
                <ul class="pt-6 space-y-1 text-white cursor-text">
                    <li class="line text-sm pt-3">Any number of deliveries</li>
                    <li class="line text-sm pt-3">No deposit, joining fee</li>
                    <li class="line text-sm pt-3">2 books/delivery: ₹ 3600</li>
                    <li class="line text-sm pt-3">4 books/delivery: ₹ 4000</li>
                    <li class="line text-sm pt-3">6 books/delivery: ₹ 4400</li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('partials/footers'); -%>