<%- include('partials/navbar'); -%>

    <div class="bg-gray-100 pt-4">
        <div class="lg:w-5/12 mx-96 px-44 bg-white shadow-lg rounded-lg">
            <div class="">
                <div class="text-center">
                    <img class="mx-auto w-56" src="Project/lb (1).png" alt="logo" />
                    <h4 class="text-xl font-semibold mt-1 pb-1">We Are Pleased to have you</h4>
                    <h4 class="text-xl font-semibold mt-1 mb-12 pb-1"> - LookBook Team </h4>
                </div>
                <form action="/" method="">
                    <p class="mb-4">Please Enter The Details : </p>
                    <div class="mb-4">
                        <input type="text"
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlInput1" placeholder="Full Name" required />
                    </div>
                    <div class="mb-4">
                        <input type="email"
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlInput1" placeholder="E-mail" required />
                    </div>
                    <div class="mb-4">
                        <input type="password"
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlInput1" placeholder="Password" required />
                    </div>
                    <div class="text-center pt-3 pb-8">
                        <button
                            class=" py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                            type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light"
                            style="background: linear-gradient( to right, #ee7724, #d8363a, #dd3675, #b44593);">Sign in
                        </button>
                </form>
                <p class="text-gray-600 mt-4"> <a class="text-blue-500 text-lg font-semibold cursor-pointer hover:scale-125 hover:duration-150" href="/login">Log In </a> if already registered</p>
            </div>
        </div>
    </div>
    </div>

    <%- include('partials/footers'); -%>