<%- include('partials/navbar'); -%>

  <div class="grid grid-cols-3 gap-4 my-3 bg-[#CFF5E7]">
    <div class="grid grid-rows-4 grid-flow-col gap-4 mx-12 mt-16 w-11/12">
      <div class="bg-white  hover:bg-gray-50 text-gray-600 text-right rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>Since we became a member of your library, I have been receiving 'threats' from my daughter to 'ask for
          delivery'.
          She read right through her exams despite some 'small battles' at home. Thank you!</p>
        <span>- Anmol Sherpa</span>
      </div>

      <div class="bg-white hover:bg-gray-100 text-gray-600 text-right rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>
          We are loving the books we have borrowed from the library over the past few months! I am sure I wouldn't have
          discovered any of these books myself - this library membership has been the best investment ever.</p>
        <span> - Pratiksha Bhatia</span>
      </div>

      <div class="bg-white hover:bg-gray-100 text-gray-600 text-right rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>
          I've been recommending this children's library (home-delivery based) to friends in Chennai ever since I
          checked their collection online.
        </p>
        <span> - Arundhati Venkatesh</span>
      </div>
    </div>

    <div>
      <img class="mt-12 h-9/11" src="project/open_book.png" alt="">
    </div>

    <div class="grid grid-rows-4 grid-flow-col gap-4 -mx-8 mt-16 w-11/12">
      <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>(About the Valentine's Day service) It's so much better than the discounts that everyone else is offering
          because this is such a special and sincere gesture. It's great that you guys show your subscriber that you
          really care so much!
        </p>
        <span> -Erika Mitchell</span>
      </div>

      <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>
          The service is amazing. Excellent collection of books. My Daughter's reading skills are improving day by day.
          The credit goes to the team.</p>
        <span> - Neha Sehgal</span>
      </div>

      <div class="bg-white hover:bg-gray-100 text-gray-600 text-left rounded-md p-3">
        <i class="fas fa-comment mb-3"></i>
        <p>I have a family of avid readers and most of us don't like reading on kindle. So for all practical reasons I
          have been desperately looking for an online library and iloveread is the perfect answer to our prayers!</p>
        <span> - Shilpi Choudhuri</span>
      </div>
    </div>
  </div>

  <%- include('partials/footers'); -%>