<%- include('partials/navbar'); -%>

    <!-- how it works-->
    <div class="pricing bg-[#36b19d] my-3"
        style="background-image: -webkit-linear-gradient(68deg, #4bd0baea 50% , #00c7a6d6 50% );">
        <div>
            <div>
                <h1 class=" text-white font-serif mx-48 pt-6 pb-4 text-4xl border-b-2 border-gray-300">How It Works
                </h1>
            </div>
            <div class="pricing py-9  justify-center text-center flex gap-x-12 text-base">
                <div class="px-10 p-8 pt-6 pb-6 text-left ">
                    <img src="Project/hiw-computer.png" alt="">
                    <h1 class="text-white py-4 font-semibold text-lg">Get</h1>
                    <h1 class="text-white w-44">Simply create your list of books online. Over 250,000 titles.</h1>
                </div>

                <div class="px-10 p-8 pt-6 pb-6 text-left ">
                    <img src="Project/hiw-mailbox.png" alt="">
                    <h1 class="text-white py-3 font-semibold text-lg ">Select</h1>
                    <h1 class="text-white w-44">We automatically mail books from your queue. FREE shipping.</h1>
                </div>

                <div class="px-10 p-8 pt-6 pb-6 text-left ">
                    <img src="Project/hiw-books.png" alt="">
                    <h1 class="text-white py-4 font-semibold text-lg  ">Read</h1>
                    <h1 class="text-white w-44">Keep them as long as you want. No due dates or late fees.</h1>
                </div>

                <div class="px-10 p-8 pt-6 pb-6 text-left ">
                    <img src="Project/hiw-return.png" alt="">
                    <h1 class="text-white py-4 font-semibold text-lg ">Return </h1>
                    <h1 class="text-white w-44">Return in the postage paid return mailer and get new ones. </h1>
                </div>
            </div>

            <form action="/signin" method="">
                <div class="bg-black text-center mx-48 text-white h-14 pt-2 text-3xl ">
                    <h1>Its simple and easy
                        <button class="bg-red-500 px-2 rounded-md shadow-md hover:shadow-red-300 " type="submit">Sign In
                            Now</button>
                    </h1>
                </div>
            </form>
        </div>


        <div class="mx-48 text-white py-9">
            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">Create Account
                </h1>
                <h1 class="pb-9 border-b-2 border-gray-500">With LookBook you can rent as many titles as you want. The
                    number of titles you rent depends on your membership plan and how quickly you return each order.
                </h1>
            </div>

            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">Savings</h1>
                <h1 class="pb-9 border-b-2 border-gray-500">Renting books or audiobooks saves you 60-80% over buying
                    them. With savings like that, you can read or listen to your heart's content.</h1>
            </div>

            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">Over 250,000 Titles</h1>
                <h1 class="pb-9 border-b-2 border-gray-500">As a member, you'll be able to choose from more than 250,000
                    paperback titles, or 40,000 audiobook titles-- from classics to new releases. Our Web site is open
                    24 hours a day and makes finding books simple and convenient.</h1>
            </div>

            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">Free Shipping Both Ways</h1>
                <h1 class="pb-9 border-b-2 border-gray-500">Shipping is always free both ways. There are never any
                    hidden charges or late fees.
                </h1>
            </div>

            <div class="">
                <h1 class="pt-9 pb-2 font-semibold text-lg">About LookBook</h1>
                <h1 class="pb-9">LookBook provides reading and listening enjoyment to thousands of satisfied customers
                    each month.</h1>
            </div>

            <form action="/signin" method="">
                <div class="text-center">
                    <button class=" bg-gray-800 shadow-lg hover:shadow-gray-200 mt-9 text-2xl px-4 rounded-md h-12"
                        type="submit">Sign In Now</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footers'); -%>